@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos Globales VitalCore */
body {
  background: #050505;
  /* Fondo Negro */
  color: #E0E0E0;
  /* Texto Claro */
}

/* Scrollbar Personalizada */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF9900;
}